<html>
<head>
<title>To Do</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
  	<div id = "todo-app">
  		<h3> todos </h3>
      	<form action="" id="todo-form">
	        <input type="checkbox" id="check-all">
	        <input type = "text" required id="new-todo" placeholder="What needs to be done?">
		</form>
		<div id="todo-container">
		  	<ul id="todo-box">
		  	</ul>
			<div id="status-bar">
			</div>
      </div>
    </div>
</body>
<script type="text/javascript" data-main="js/main" src="bower_components/requirejs/require.js"></script>
<script id="todo-item-template" type="text/template">
	<div class="view">
		<input type="checkbox" <%= (hasCompleted) ? 'checked' : '' %> class="check-hasCompleted"/>
		<span class="todo-title <%= (hasCompleted) ? 'strikeout' : '' %>"><%- title %></span>
		<a class = "remove-todo-close" href="#" >x</a>
	</div>
	<input type="text" class="edit" value="<%- title %>"/>
</script>
<script id="todo-statusbar-template" type="text/template">
	<div id="statusbar">
		<span><span id="active-todo-count"></span> <%= remaining %> <%= (remaining == 1) ? 'item' : 'items' %> are remaining</span>
		<span><a class = "show-type-link <%= (showType == 'all') ? 'active' : '' %>" data-target = "all" href="#">All</a></span>
		<span><a class = "show-type-link <%= (showType == 'active') ? 'active' : '' %>" data-target = "active" href="#">Active</a></span>
		<span><a class = "show-type-link <%= (showType == 'completed') ? 'active' : '' %>" data-target = "completed" href="#">Completed</a></span>
		<span><a id = "clear-completed" href="#">Clear Completed</a></span>
	</div>
</script>
</html>